body{ 
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    flex-direction:row;
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    justify-content: space-between;
    align-items:center;
    height: 100px;
}

ul{
    display: flex;
    flex-direction: row;
}

li{
    padding: 16px 30px;
    list-style-type: none;
}

.bouton {
    background-color: black;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: black;
    border-style: none;
    position: absolute;
}

h1{
    font-weight: 1000;
}

.p1{
    background-image: url("https://media.istockphoto.com/id/1177900338/cs/fotografie/%C5%A1%C3%A1lek-espressa-s-k%C3%A1vov%C3%BDm-zrnem.jpg?s=612x612&w=is&k=20&c=DdC0E75DJMiFkPMdnRfoVjubr-KTjDyEhxOvtNZUPI8=");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    height: 25em;
    margin: none;
}

button{
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-color: black;
    border-style: none;
    padding: 20px;
    border-radius: 50px;
}

.p2{
    display: flex;
    flex-direction: row;
    color: black;
    text-align: center;
    margin-bottom: 50px;
}

.icon {
    width: 50px;
    height: 50px;
    margin-top: 50px;
}

.bas {
    border-image-width: 50%; 
}